body {
	font-family: 'Roboto', sans-serif;
  color: #2E2F42;
  background-color: #FFFFFF;
}

body a {
  text-decoration: none;
}

body ul {
  list-style-type: none;
}

.page-logo {

}

.page-nav {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.contacts a {
  color:#434455;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: left;
}

h1 {
  color: #FFFFFF;
  background-color: #2E2F42;
  font-size: 56px;
  font-weight: 700;
  line-height: 60px;
  letter-spacing: 0.02em;
  text-align: center;
}

button {
  color: #FFFFFF;
  background-color: #4D5AE5;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.04em;
  text-align: left;
  cursor: pointer;
}

button:hover, 
button:focus {
  background: #404BBF;
}

h3 {
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.02em;
}

.features h3 {
  text-align: left;
}

.features {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-align: left;
}

h2 {
  font-size: 36px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0.02em;
  text-align: center;
}

.team {
  text-align: center;
}

.team h3 {
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.02em;
}

.team p {
  line-height: 24px;
  letter-spacing: 0.02em;
  text-align: center;
}

.team ul {
  background-color: #FFFFFF;
}

footer {
  color: #FFFFFF;
  background-color: #2E2F42;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-align: left;
}